.Product{
    width: 100%;
}
.Product_Wrap{
    max-width: 1000px;
    margin: 0 auto;
}

.Product_bg{
    max-width: 1200px;
    font-size: 0;
}
.Product_bg img{
    display: block;
    width: 100%;
}


/* CabinFilter */
.CabinFilter{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
.CabinFilter_1 h3{
    color: #000;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.9px;
}
.CabinFilter_1 span{
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.6px;
}
.CabinFilter_1 p{
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 162.5%; 
    letter-spacing: -0.48px;
}
.CabinFilter_2{
    width: 40%;
    font-size: 0;
}
.CabinFilter_2 p img{
    display: block;
    width: 100%;
    margin-top: 10px;
}

/* Dblock_filter */
.Dblock_filter h3{
    position: relative;
    color: #000;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; 
    letter-spacing: -0.9px;
}
.Dblock_filter h3 span{
    position: absolute;
    top: 8px;
    margin-left: 20px;
    color: #000;
    font-family: Pretendard;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 152.941%;
    letter-spacing: -0.51px;
    
}
.Dblock_filter p{
    font-size: 0;
}
.Dblock_filter p img{
    display: block;
    width: 100%;
}

/* Special */
.Special{
    
}
.Special h3{
    color: #000;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 39px; 
    letter-spacing: -0.9px;
}
.Special h3 span{
    color: #000;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: -0.9px;
}
.Special1 {
    display: flex;
    justify-content: space-between;
}
.Special1_1{
    width: 50.7%;
    border-radius: 25px;
    background: #F7F7F7;
    box-sizing: border-box;
    
}
.Special1_1 h3{
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 320% */
    letter-spacing: -1px;
    margin-left: 23px;
}
.Special1_1 h3 span{
    color: #00CDA8;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -1px;
}
.Special1_1 p{
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
    letter-spacing: -0.48px;
    margin-left: 23px;
}
.Special1_1 p span{
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: -0.48px;
}

.Special1_2{
    width: 48.5%;
    font-size: 0;
    
}
.Special1_2 img{
    display: block;
    width: 100%;
}